textarea.text-summary {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

.page-node-edit .left-sidebar .container_12 .panel-col-full .pane-inner,
.page-node-edit .right-sidebar .container_12 .panel-col-full .pane-inner,
.page-node-add .left-sidebar .container_12 .panel-col-full .pane-inner,
.page-node-add .right-sidebar .container_12 .panel-col-full .pane-inner {
  padding: 0;
}

.page-node-edit .left-sidebar .container_12 .panel-col-full .panel-content-color,
.page-node-edit .right-sidebar .container_12 .panel-col-full .panel-content-color,
.page-node-add .left-sidebar .container_12 .panel-col-full .panel-content-color,
.page-node-add .right-sidebar .container_12 .panel-col-full .panel-content-color{
  border: 0;
}

.page-node-edit .filter-guidelines-item ul,
.page-node-edit .filter-help,
.page-node-add .filter-guidelines-item ul,
.page-node-add .filter-help {
  display: none;
}

.page-node-edit fieldset.filter-wrapper,
.page-node-add fieldset.filter-wrapper {
  padding-top: 0;
}

fieldset.filter-wrapper {
  border: 0;
  float: right;
}

.text-format-wrapper .description {
  color: #666666;
  font-size: 0.9em;
  margin-bottom: 18px;
}

.fieldset-description {
  color: #666666;
}

.page-node ul.primary,
.page-user ul.primary,
.page-search ul.primary,
.page-taxonomy ul.primary,
.page-node ul.action-links {
  border-bottom: 0;
  margin: 0.75em 0 0.75em;
  list-style-type: none;
  padding: 0;
  text-align: right;
}

body.page-without-panels ul.primary {
  text-align: left;
}

.page-node ul.action-links li a {
  background-color: #DDDDDD;
  border-style: solid solid none;
  border-width: 1px;
  height: auto;
  text-decoration: none;
  margin-right: 0.5em;
}

.page-node ul.primary li a,
.page-user ul.primary li a,
.page-search ul.primary li a,
.page-taxonomy ul.primary li a,
.page-node ul.action-links li a {
  line-height: 1em;
  padding: 0.25em 1.5em;
  color: #222;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border-color: #ddd;
}

ul.primary li.active a:hover {
  background-color: #FFFFFF;
}

.page-node ul.action-links li a:hover {
  background-color: #EEE;
}

.logged-in #navbar {
  overflow: visible;
}

.vertical-tab-button a {
  color: #333;
}

.vertical-tab-button a span {
  color: #999;
  font-style: italic;
}

div.vertical-tabs {
  clear: both;
}

.vertical-tabs ul.vertical-tabs-list li.vertical-tab-button {
  background-color: #efefef;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #FFFFFF;
}

.image-widget-data .file img {
  display: inline;
}

body.overlay #header * {
  display:none;
}

/* Allows contextual links to be visible */
.logged-in .pagewidth {
  overflow: visible;
}

.panel-row .panel-leftSb .panel-content-color,
.panel-row .panel-rightSb .panel-content-color{
  overflow: visible;
}

/* WYSIWYG Styles */
body.wysiwygeditor,
body.cke_panel_frame {
  background-image: none;
  background-color: #fff;
}

body.wysiwygeditor {
  padding: 0.5em;
}

html span.cke_skin_kama {
  border: 0;
  padding: 0;
}

html span.cke_skin_kama .cke_toolgroup {
  height: auto;
  min-height: 22px;
  background-image: none;
  background-color: #EEE;
}

html span.cke_skin_kama * {
  white-space: normal;
}

html.cke_skin_kama_container .cke_panel_list h2.with-subtitle {
  font-size: 1.5em;
}

html.cke_skin_kama_container .cke_panel_list div.callout-left,
html.cke_skin_kama_container .cke_panel_list div.callout-right {
  float: none;
  margin: 0;
  width: 80%;
}

html.cke_skin_kama_container .cke_panel_list span.dropcap {
  font-size: 1.5em;
}