/* Background colors and borders on panel regions should be applied to the .panel-content-color div 
 * Exception: if using the rounded corners style, apply the background to .rounded-corners
*/

#navbar {
  background-color: #eee;
}

#navbar ul.menu a:hover,
#navbar ul.menu a.active-trail {
  background-color: #fff;
}

.panel-display .rounded-corners {
  background-color: #ddd;
}

.pane-with-heading h2.pane-title {
 background-color: #333;
 color: #fff;
}

