ul li.leaf, ul li.collapsed, ul li.expanded {
    list-style-image: none; /* Remove core Drupal default list item images */
    list-style-type: disc; 
}

.pane-content .item-list ul li {
    margin: 0 0 0 1.5em;
}

/* Default menu styles */
#footer ul.menu, #navbar ul.menu, ul#main-menu {
  padding: 0;
  margin: 0;
}

ul#main-menu li, #navbar ul.menu li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#navbar {
  width: 100%;
  position: relative;
  overflow: hidden;
  clear: both;
}

#navbar h2 {
  display: none;
}

#navbar ul li {
  float: left;
}

#navbar ul.menu a,
#navbar ul#main-menu a {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  display: block;
  line-height: 1;
  padding-right: 1.5em;
  padding-left: 1.5em;
}

#navbar ul.menu a:hover,
#navbar ul#main-menu a:hover {
  text-decoration: none;
}

/* Side menus */

.panel-leftSb ul.menu li ul.menu li,
.panel-rightSb ul.menu li ul.menu li {
  padding-left: 1em;
  padding-right: 0;
  padding-bottom: 0em;
  padding-top: 0em;

}

.panel-leftSb ul.menu li ul.menu li a,
.panel-rightSb ul.menu li ul.menu li a {
  font-size: 0.9em;
  line-height: 18px;
}

.panel-display .breadcrumb {
  padding-bottom: 0;
}

article footer.author {
  color: #999;
  font-size: 0.9em; 
  line-height: 18px;
  margin: 9px 0 9px;
}

article.comment {
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  border-top: 1px dotted #999;
}

article.comment:last-child {
  margin-bottom: 0;
}

article.comment .submitted {
  color: #999;
  margin-bottom: 18px;
}

article.comment .username {
  color: #999;
  text-transform: uppercase;
  font-weight: bold;
}

article.comment a.permalink {
  float: right;
  color: #333;
  font-weight: bold;
}

article.comment .new {
  float: right;
  padding: 0 0.5em;
  background-color: #EEE;
  margin-right: 1em;
}

footer.link-wrapper {
  text-align: right;
}

footer.link-wrapper ul.inline li {
  float: right;
  padding: 3px 0.75em;
  margin-left: 0.5em;
  font-size: 0.9em; 
  line-height: 12px;
  display: block;
  color: #999;
}  

.node-display-submitted h1.pane-title {
  margin-bottom: 0;
}

/* Default header styles */
#header .form-text {
  border-color: #eee;
}

#secondary-menu,
.region-header,
.region-header #block-search-form,
.region-header #block-search-form div {
  display: inline-block;
}

.region-header .block {
  margin-left: 1em;
}

#header .form-item, 
#header .form-actions,
#header select {
  margin-top: 0;
  margin-bottom: 0;
}

#header .pagewidth {
  position: relative;
  text-align: right;
}

#header input {
  margin: 0;
}

#header .form-text, 
#header .form-submit {
  display: inline;
  border-style: solid;
  border-width: 1px;
}

#header .form-text {
  -webkit-appearance: textfield;
}

#header .form-text,
#header select,
#header .form-submit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
  min-height: 18px;
}

#header select {
  padding: 0;
  margin: 0;
}

#header .form-submit {
  -webkit-appearance: none;
  color: #fff;
  background-color: #333;
  border-color: #333;
}

#logo {
  float: left;
  margin-right: 18px;
  margin-top: 3em;
}

#name-and-slogan {
  padding: 18px;
  text-align: left;
}

#site-name {
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-weight: normal;
  position: relative;
}

#site-name a {
  text-decoration: none;
  color: #666;
}

#site-slogan {
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-top: 0.5em; 
  font-size: 1.5em;
  line-height: 1;
  font-style: italic;
  margin-bottom: 0;
}

#search-block-form.element-invisible {
  display: none;
}

/* Default footer styles */
.region-footer {
  padding: 1.5em;
  text-align: center;
}

.region-footer .block-menu-block {
  margin: 0 0 0.5em;
}

.region-footer ul.menu li.leaf {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc;
  line-height: 1;
  margin: 0;
}

.region-footer ul.menu {
  text-align: center;
}

.region-footer ul.menu li.first {
  padding-left: 0;
}

.region-footer ul.menu li.last {
  border-right: 0;
}

.region-footer p {
  margin: 0;
}

/* 
 * Inline Text Styles 
 * Intended to be integrated into WYSIWYG editor
 */
p.indented {
  padding-left: 3.5em;
  padding-right: 3.5em;
  margin-left: 0;
}
 
span.dropcap {
  font-size: 4.5em;
  float: left;
  line-height: 1;
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-right: 0.1em;
  color: #999;
  display: block;
}

a.button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #DDDDDD;
  color: #222222;
  padding: 0.75em 1em;
}

a.button:hover {
  text-decoration: none;
  background-color: #EEE;
}

p.subtitle {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2.with-subtitle {
  margin-bottom: 0;
}

div.callout-left,
div.callout-right {
  padding: 1em;
  width: 33%;
  background-color: #fff;
  margin-top: 0.5em;
  margin-bottom: 2em;
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
  box-shadow: 2px 2px 5px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

div.callout-left {
  float: left;
  margin-right: 1.5em;
}

div.callout-right {
  float: right;
  margin-left: 1.5em;
}

div.callout-left p,
div.callout-right p{
  margin-bottom: 0;
}

.node-teaser div.callout-left,
.node-teaser div.callout-right {
  float: none;
  margin: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 0;
}

.field-item div span.callout-header,
.wysiwygeditor div span.callout-header{
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1.5em;
  line-height: 1;
  display: block;
  margin-bottom: 0.5em;
}

.node-teaser .field-item div span.callout-header {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  display: inline;
}

.field-type-text-with-summary div.clearfix,
.field-type-text-long div.clearfix {
  margin-bottom: 1.5em;
}

div.clearfix img.left, 
div.clearfix div.left  { 
  float: left; 
  margin-right: 1.5em; 
}

div.clearfix img.right, 
div.clearfix div.right   { 
  float: right; 
  margin-left: 1.5em; 
}

ul.inline-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;
  list-style-type: none;
}

ul.inline-list li {
  padding: 0 1em;
  border-right: 1px solid #ccc;
  display: inline;
  white-space:nowrap;
}

ul.inline-list li:first-child {
  padding-left: 0;
}

ul.inline-list li:last-child {
  border-right: 0;
  padding-right: 0;
}

ol.roman { 
  list-style-type: upper-roman; 
}

ol.alpha { 
  list-style-type: upper-alpha; 
}

.field-type-text-with-summary ul li {  margin: 0 0 0.75em; }

img.centered {
  margin: 0 auto;
}

/* Inline Image Styles */
.inline-image-wrapper {
  background-color: #fff;
  padding: 4px;
  color: #666;
  -moz-box-shadow: 2px 2px 5px #888;
  -webkit-box-shadow: 2px 2px 5px #888;
  box-shadow: 2px 2px 5px #888;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.inline-image-caption {
  padding-top: 4px;
  font-size: 10px;
  line-height: 1.5em;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}