.pagewidth {
    width: 960px;
}

.panel-display .rounded-corners,
.inline-image-wrapper,
div.callout-left,
div.callout-right,
a.button  {
  behavior: url(/sites/all/themes/innovate/scripts/PIE.htc); /* Update this to reflect the path in the installation */
  position: relative;
}

/* IE 7 inline-block fix */
.region-header #block-search-form div {
  *zoom: 1;
  *display: inline;
}

