/* Use fixed widths for panels since max-width not supported
========================================================================== */
div.container_16 div.grid_1  { width: 60px; overflow: hidden; }
div.container_16 div.grid_2  { width: 120px; overflow: hidden;  }
div.container_16 div.grid_3  { width: 180px; overflow: hidden; }
div.container_16 div.grid_4  { width: 240px; overflow: hidden;  }
div.container_16 div.grid_5  { width: 300px; overflow: hidden;  }
div.container_16 div.grid_6  { width: 360px;  overflow: hidden; }
div.container_16 div.grid_7  { width: 420px;  overflow: hidden; }
div.container_16 div.grid_8  { width: 480px; overflow: hidden;  }
div.container_16 div.grid_9  { width: 540px; overflow: hidden;  }
div.container_16 div.grid_10 { width: 600px; overflow: hidden; }
div.container_16 div.grid_11 { width: 660px;  overflow: hidden; }
div.container_16 div.grid_12 { width: 720px;  overflow: hidden; }
div.container_16 div.grid_13 { width: 780px; overflow: hidden;  }
div.container_16 div.grid_14 { width: 840px;  overflow: hidden; }
div.container_16 div.grid_15 { width: 900px;  overflow: hidden; }
div.container_16 div.grid_16 { width: 960px;  overflow: hidden; }

/* Solution for inline block problem - probably a better one exists but this is IE6 */
#secondary-menu {
  display: none;
}

/* Assumes that images in a column with no padding should fill the full width (prevent breakage) */
.container_16 .grid_1 .pane-no-padding img { width: 60px; }
.container_16 .grid_2 .pane-no-padding img { width: 120px; }
.container_16 .grid_3 .pane-no-padding img { width: 180px; }
.container_16 .grid_4 .pane-no-padding img { width: 240px; }
.container_16 .grid_5 .pane-no-padding img { width: 300px; }
.container_16 .grid_6 .pane-no-padding img { width: 360px; }
.container_16 .grid_7 .pane-no-padding img { width: 420px; }
.container_16 .grid_8 .pane-no-padding img { width: 480px; }
.container_16 .grid_9 .pane-no-padding img { width: 540px; }
.container_16 .grid_10 .pane-no-padding img { width: 600px; }
.container_16 .grid_11 .pane-no-padding img { width: 660px; }
.container_16 .grid_12 .pane-no-padding img { width: 720px; }
.container_16 .grid_13 .pane-no-padding img { width: 780px; }
.container_16 .grid_14 .pane-no-padding img { width: 840px; }
.container_16 .grid_15 .pane-no-padding img { width: 900px; }
.container_16 .grid_16 .pane-no-padding img { width: 960px; }