/* page width
========================================================== */
.pagewidth { max-width: 960px; margin: 0 auto;  overflow: hidden; width: 100%; }
.fixed-width-layout .pagewidth { width: 960px; }

.panel-display { margin-top: 5px; }
.panel-row { overflow: hidden; margin-bottom: 5px; width: 100%;}
.no-pane-margins .panel-row, .no-pane-margins .panel-display, .container_12 .panel-row { margin-bottom: 0; margin-top: 0;}
.panel-row .panel-content-color { 
  margin-right: 5px; 
  overflow: hidden;   
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.no-pane-margins .panel-row .panel-content-color { margin-right: 0; }
.panel-row .panel-col-last .panel-content-color { margin-right: 0; }
.panel-row .panel-col-full .panel-content-color { margin-right: 0; }

.panel-row .panel-col-first .panel-col-full .panel-content-color,
.panel-row .panel-col-first .panel-col-last .panel-content-color {
  margin-right: 5px;
}

.no-pane-margins .panel-row .panel-col-first .panel-col-full .panel-content-color,
.no-pane-margins .panel-row .panel-col-first .panel-col-last .panel-content-color {
  margin-right: 0;
}

/* layout of main page items
========================================================== */
#page {
  margin: 0;
  padding: 5px 5px 0;
  position: relative;
}

/* Pane Styles 
========================================================= */
.pane-inner {
  padding: 18px;
}

/* Panes without default padding for feature images */
.pane-no-padding .pane-inner,
.pane-with-heading .pane-inner {
  padding: 0;
}

.pane-with-heading .pane-content {
  padding: 18px;
}

.panel-separator {
  height: 0;
}

.pane-page-breadcrumb .pane-inner,
.pane-node-title .pane-inner {
  padding-bottom: 0;
}

/* Rounded corners - soft and cuddly */
.panel-content-color .rounded-corners {
  border: 1px solid #ffffff;
  border-radius:             8px;
  -moz-border-radius:        8px;
  -webkit-border-radius:     8px;
}

/* panel admin links */
.panel-pane                      { position: relative; }
.panel-pane .admin-links         { top: 0; right: 0; position: absolute; }
.panel-pane .admin-links a       { color: #dddddd;}
.panel-pane .admin-links a:hover { color: #999999;}

/* pane titles */
.panel-pane h2.pane-title { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.panel-pane article.node-teaser header h2 { font-size: 1.5em; line-height: 1; margin-bottom: 1em; }
.panel-pane-collapsible .ctools-collapsible-handle { font-size: 1.5em; line-height: 1; margin-bottom: 1em; color: #111111; font-family: Georgia,"Times New Roman",Times,serif;}
.pane-with-heading .panel-pane h2.pane-title { margin-bottom: 0; padding: 0.5em 1em; }
.pane-with-heading header h2 { margin-bottom: 0;}
.panel-pane h1.node-title { margin-bottom: 0; }

/* Styles in case of no panels
========================================================== */
.page-without-panels h1#page-title {
  margin-top: 18px;
}

.page-without-panels #content {
  padding: 0 18px 18px;
}

