body {
  -webkit-text-size-adjust:none;  
}

body.fixed-width-layout .pagewidth {
  width: 100%;
}

div.container_16 div.grid_1,  
div.container_16 div.grid_2,  
div.container_16 div.grid_3,
div.container_16 div.grid_4, 
div.container_16 div.grid_5,  
div.container_16 div.grid_6,
div.container_16 div.grid_7,  
div.container_16 div.grid_8,  
div.container_16 div.grid_9,
div.container_16 div.grid_10, 
div.container_16 div.grid_11,
div.container_16 div.grid_12,
div.container_16 div.grid_13, 
div.container_16 div.grid_14, 
div.container_16 div.grid_15,
div.container_16 div.grid_16, 
.panel-row .panel-col-last,
.panel-row .panel-content-color {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  float: none;
  display: block;
}

.panel-display .panel-row {
  margin-bottom: 0;
}

#page .panel-leftSb {
  padding-top: 0px;
}

.region-content p div.left,
.region-content p div.right {
  max-width: 100%;
  float: none;
  margin-left: 0;
  margin-right: 0;
}

#header #navbar ul.menu, 
#header #navbar ul#main-menu {
  width: auto;
  height: auto;
  padding: 0;
  min-height: 0;
  display: block;
}

#header #secondary-menu {
  display: none;
}

#header #navbar ul.menu a,
#header #navbar ul#main-menu a {
  padding-right: 1em;
  padding-left: 1em;
}

#navbar .pane-inner {
  padding: 0;
}

#skip-link {
  display: none;
}