body {
	padding: 0 !important;
	background: white;
	font-size: 12pt;
	line-height: 18pt;
	font-family:"Times New Roman", Times, serif;
}

.container_16 .grid_1,  
.container_16 .grid_2,  
.container_16 .grid_3,
.container_16 .grid_4, 
.container_16  .grid_5,  
.container_16 .grid_6,
.container_16 .grid_7,  
.container_16 .grid_8,  
.container_16 .grid_9,
.container_16 .grid_10, 
.container_16 .grid_11,
.container_16  .grid_12,
.container_16 .grid_13, 
.container_16 .grid_14, 
.container_16 .grid_15,
.container_16 .grid_16, 
.panel-row .panel-col-last,
.panel-row .panel-content-color {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  float: none !important;
  display: block;
}

.panel-display .panel-row {
  margin-bottom: 0;
}

.panel-content-color {
	height: auto !important;
	color: #000 !important;
	background: transparent !important;
}

#header,
#secondary-menu,
#header .region-header,
#navbar,
ul.action-links,
#toolbar,
.panel-display .panel-leftSb,
.panel-display .panel-rightSb,
.breadcrumb,
.tabs,
#footer .block-menu-block{
	display: none;
}

#page .pagewidth {
  width: auto;
}

#page h2.pane-title {
	font-size: 18pt;
	margin-bottom: 0pt;
	margin-top: 18pt;
}

/* Display site footer */
#footer {
	font-size: 10pt;
	color: #666;
	margin-top: 12pt;
	padding-top: 6pt;
	border-top: 1px solid #666;
}