/* containers
================================================================ */
.container_12,
.container_16   { width: 100%; }

/* global grid
================================================================ */
.grid_1,  .grid_2,  .grid_3,
.grid_4,  .grid_5,  .grid_6,
.grid_7,  .grid_8,  .grid_9,
.grid_10, .grid_11, .grid_12,
.grid_13, .grid_14, .grid_15,
.grid_16  { display: inline; float: left; }

div.container_12 .grid_3,
.container_16 .grid_4    { width: 25%; }

div.container_12 .grid_6,
.container_16 .grid_8   { width: 50%; }

div.container_12 .grid_9,
.container_16 .grid_12  { width: 75%; }

div.container_12 .grid_12,
.container_16 .grid_16  { width: 100%; }

/* 12 column grid
================================================================ */
div.container_12 .grid_1   { width:  8.333%; }
div.container_12 .grid_2   { width: 16.666%; }
div.container_12 .grid_4   { width: 33.333%; }
div.container_12 .grid_5   { width: 41.666%; }
div.container_12 .grid_7   { width: 58.333%; }
div.container_12 .grid_8   { width: 66.666%; }
div.container_12 .grid_10  { width: 83.333%; }
div.container_12 .grid_11  { width: 91.666%; }

/* 16 column grid
================================================================ */
.container_16 .grid_1   { width:  6.25%; }
.container_16 .grid_2   { width: 12.50%; }
.container_16 .grid_3   { width: 18.75%; }
.container_16 .grid_5   { width: 31.25%; }
.container_16 .grid_6   { width: 37.50%; }
.container_16 .grid_7   { width: 43.75%; }
.container_16 .grid_9   { width: 56.25%; }
.container_16 .grid_10  { width: 62.50%; }
.container_16 .grid_11  { width: 68.75%; }
.container_16 .grid_13  { width: 81.25%; }
.container_16 .grid_14  { width: 87.50%; }
.container_16 .grid_15  { width: 93.75%; }

/* Make sure elements line up along right margin */
.panel-row .panel-col-last { float: right; }

/* Allow for resizing of images and objects */
object, embed { max-width: 100%;}

.container_12 img,
.container_16 img { max-width: 100%;}